
.col55 {
  margin-left: 25px;
}

.nav55 {
  background-color: #4db6ac;
  width: 100%;
  height: 65px;
}

.margn {
  margin-left: 45px;
  margin-right: 45px;
}

.marg1 {
  margin-left: 30px;
  margin-right: 30px;
}

.pin-top {
    position: relative;
  }

  .unslider-arrow.next {
    left: auto;
    right: 200px;
}
.mn {
  font-size: 20px;
  list-style-type:circle;

}
.marg2 {
  margin-left: 130px;
  margin-right: 10px;
  margin-top: 15px;

}
.marg3 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  font-size: 25px;
 }

